
#dropdown-menu {
    position: relative;
    
}
.dropdown-item {
    background-color: white !important;
    color: #343a40 !important;
}

.star {
    font-size: 20px;
}

.checked {
    color: orange;
}
#radio-inputs {
    display: flex;
    flex-direction: row-reverse;
}


#radio-inputs label:hover, #radio-inputs label:hover ~ label {
    color: orange;
    cursor: pointer;
}

#radio-inputs input[type="radio"]:checked ~ label {
    color: orange;
}