
#dropdown-menu {
    position: relative;
    
}
.dropdown-item {
    background-color: white !important;
    color: #343a40 !important;
}

.star {
    font-size: 20px;
}

.checked {
    color: orange;
}

.stars-label i:hover {
    color: orange;
    cursor: pointer;
}
