article {
}

/*.dropdown-item {
    position: fixed !important;
    position: ;
}*/

#dropdown-menu {
    position: relative;
    
}
.dropdown-item {
    background-color: white !important;
    color: #343a40 !important;
}